body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7; /* Adds a light grey background for a modern look */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white; /* Sets a white background for the container */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Adds a subtle shadow to the container */
}

h1 {
    font-size: 36px;
    margin-top: 0;
    text-align: center;
    color: #333; /* Dark grey color for the text */
}

form {
    margin-bottom: 20px;
    padding: 20px;
    background: #f9f9f9; /* Light background for the form */
    border: 1px solid #ddd; /* Border for the form */
    border-radius: 8px; /* Rounded corners for the form */
}

label {
    margin-right: 10px;
    color: #333; /* Dark grey color for the label text */
    display: block; /* Makes the label take the full width */
    margin-bottom: 5px; /* Space between the label and the input */
}

input[type="text"], input[type="date"], input[type="password"], select {
    width: calc(100% - 22px); /* Full width minus padding and border */
    padding: 10px;
    margin-bottom: 20px; /* Space between each input */
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"], button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners for buttons */
    font-size: 16px; /* Larger font size for buttons */
    margin-top: 10px; /* Space above the button */
}

button[type="button"] {
    background-color: #f44336; /* Red color for secondary actions */
}

.error-message, .success-message {
    color: #f44336; /* Red color for error messages */
    background-color: #ffd2d2; /* Light red background for error messages */
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px; /* Space below the message */
    border: 1px solid #ffcccc; /* Border for the message */
}

.success-message {
    color: #4CAF50; /* Green color for success messages */
    background-color: #d4edda; /* Light green background for success messages */
    border: 1px solid #c3e6cb; /* Border for the message */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr.completed {
    background-color: #ddd;
}